._*
.\#*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.netrc
.Spotlight-V100
.swiftpm
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode/
*.dSYM
*.dSYM.zip
*.elc
*.hmap
*.ipa
*.log
*.tmp
*~
/.emacs.desktop
/.emacs.desktop.lock
\#*\#
auto-save-list
Network Trash Folder
Package.resolved
Packages/
playground.xcworkspace
temp/
Temporary Items
timeline.xctimeline
tmp/
tramp
xcuserdata/
